<div class="columns is-centered">
    <app-base-stats [types]="pokemon?.types" [name]="pokemon?.name"
        [sprite]="pokemon?.sprites.other['official-artwork'].front_default" [stats]="pokemon?.stats">
    </app-base-stats>
    <app-profile-card [abilities]="pokemon?.abilities" [height]="pokemon?.height" [weight]="pokemon?.weight"
        [baseExperience]="pokemon?.base_experience"></app-profile-card>
    <app-moves [moves]="pokemon?.moves"></app-moves>
    <div>
        <div class="column is-centered">
            <div class="card column">
                <div class="card-content">
                    <button class="button is-primary is-outlined is-rounded" (click)="collectPokemonClicked()" [disabled] = "disableCollectButton">
                        &nbsp;<span>Collect Pokémon</span>&nbsp;
                        <i class="fas fa-times"></i>
                    </button>
                    <br>
                    <span *ngIf="isAddedToCollection">Pokémon added</span>
                    <span *ngIf="isAlreadyAddedToCollection">Pokémon already added</span>
                </div>
            </div>
        </div>

    </div>
</div>