
<div class="columns is-multiline mx-6 mt-6">
        <app-catalogue-card class="column is-one-fifth "
                            (clicked)="handlePokemonClicked($event)"
                             *ngFor="let pokemon of pokemons" 
                             [name]="pokemon?.name"
                             [sprite]="pokemon?.sprite">
        </app-catalogue-card>
</div>

<app-footer></app-footer>
<!-- <ul>
    <li> <a routerLink="ditto">ditto</a> </li>
    <li> <a routerLink="nidoran-f">nidoran</a> </li>
    <li> <a routerLink="nidorino">nidorino</a> </li>
</ul> -->
