<div class="container">
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="column has-text-centered is-one-quarter">
            <div class="field">
                <p class="control is-expanded has-icons-right">
                    <input class="input" type="search" placeholder="Search..." #box (keyup)="onKey(box.value)" />
                    <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                </p>
            </div>
            <div class="has-text-centered select is-multiple">
                <select id="select-box" multiple size="12">
                    <option *ngFor="let pokemon of searchCollection" [value]="pokemon.name" (click)="onPokemonClicked($event)" >{{pokemon.name | uppercase}}
                    </option>
                </select>
            </div>
        </div>

        <div class=" column is-narrow has-text-centered is-one-quarter">
            <img src={{currentSprite}} alt="Pokémon" width="350">
            <button class="button is-primary is-outlined is-rounded" (click)="goDetailsClicked()" [disabled] = "currentSprite == '../../../assets/pokemon.png'">
                &nbsp;<span>Go to Pokémon's details</span>&nbsp;
                <i class="fas fa-times"></i>
            </button>
        </div>


    </div>
</div>