<div class="column is-centered">
    <div class="card mb-4 column">
        <div class="card-content">
            <p class="subtitle is-5">Profile stats</p>
            <div class="content">
                <strong> Heigth: </strong> {{height}}
                <strong> Weight: </strong> {{weight}}
                <strong> Base experience: </strong> {{baseExperience}}
                <br>
                <strong>Abilities:</strong>
                <div class="abilities" *ngFor="let ability of abilities">
                    <label *ngIf="ability.is_hidden">{{ability.ability.name | uppercase}}: This ability is a hidden
                        ability</label>
                    <label *ngIf="!ability.is_hidden">{{ability.ability.name | uppercase}}: This ability is not a
                        hidden ability</label>
                </div>
            </div>
        </div>
    </div>