<div class="column is-centered">
    <div class="card mb-4 column is-narrow">
        <div class="card-image">
            <figure class="image is-128x128">
                <img src="{{sprite}}" alt="{{name}}">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <strong> Name: {{name | uppercase}}</strong>
                <br>
                <strong>Stats:</strong>
                <section class="stats" *ngFor="let stat of stats">
                    <label>{{stat.stat.name | uppercase}}: {{stat.base_stat}}</label>
                </section>
                <strong>Type(s):</strong>
                <section class="types" *ngFor="let type of types">
                    <label>{{type.type.name | uppercase}}</label>
                </section>
            </div>
        </div>
    </div>
</div>