<div class="card is-clickable" (click)="onPokemonClicked()">
    <p class="title mt-1 mb-1 mx-1 has-text-centered">{{name | uppercase}}</p>
    <figure class="image is-square">
        <img class="has-ratio" width="300" height="300"
            [src]="sprite">
    </figure>

</div>