<section class="hero is-success has-background-link-light is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <input class="input is-primary is-rounded" type="text" name="trainerName" [(ngModel)]="trainerName"
                placeholder="Trainer name">&nbsp;
            <button class="button is-primary is-outlined is-rounded" (click)="goClicked()">
                &nbsp;<span>GO</span>&nbsp;
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</section>