<div class="column is-centered">
    <div class="card column">
        <div class="card-content">
            <div class="content">
                <p class="subtitle is-5">Moves</p>
                <div class="scrollable">
                    <section class="moves" *ngFor="let move of moves">
                        <label>- {{move.move.name | uppercase}}</label>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>