<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../../../../assets/pokemon-nav.png" alt="Pokémon catalogue" width="90">
    </a>

    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/trainer">
          Trainer
        </a>
      </div>
    </div>
  </div>
</nav>