<footer class="has-background-warning-light	">
    <div class="container">
        <div class="actions">
            <button class="button" (click)="onPreviosClicked()">Previous</button>&nbsp;
            <button class="button" (click)="onNextClicked()">Next</button>
        </div>
    </div>
</footer>